<div>
  <div class="upload-btn-wrapper">
  
    <button class="btn">
      <span>
        <i class="fas fa-plus"></i>
      </span>
        Upload file
    </button>
    <%# <input type="file" name="myfile" multiple/> %>

  </div>
</div>
