.upload-btn-wrapper {
  position: relative;
  width: 100%;
  float: left;
  overflow: hidden;
  display: inline-block;
  .btn {
    border: 2px solid gray;
    color: green;
    background-color: white;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}
#body-div-wrapper {
  margin-top: 120px;
  margin-left: 50px;
  #landing-page {
    margin-top: -120px;
    margin-left: -50px;
  }
  #item-wrapper {
    width: 400px;
    margin: 30vh auto;
  }
  #file-wrapper {
    h1 {
      margin-bottom: 20px;
    }
  }
  .images {
    a {
      color: white !important;
    }
  }
}